$text-color: #414141;
$background: #E5E5E5;
$filter-color: #DCA014;
$red-light: #F0462D;
$red-dark: #D23C28;
$purple-light: #411E5A;
$purple-dark: #280A3C;
$border-color: #CCCCCC;
$topbar-height: 6rem;
$sidebar-width: 5vw;