$text-color: #414141;
$background: #e5e5e5;
$filter-color: #dca014;
$red-light: #f0462d;
$red-dark: #d23c28;
$purple-light: #411e5a;
$purple-dark: #280a3c;
$border-color: #cccccc;
$green: #42ee12;
$topbar-height: 5rem;
$sidebar-width: 5vw;

// FFB914 - oRANGE GRADIENT
